@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  /* Site color scheme defined at the end of this file */

  font-family: var(--ff-regular);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-primary);
  color: var(--color-contrast);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ff-regular: "Poppins", "sans-serif";
  --ff-custom: "Fira Code", "monospace";
  --color-correct: #6aaa64;
  --color-present: #c9b458;
  --color-absent: #787c7e;
  --color-true-white: #ffffff;

  --border-empty: #d3d6da;
  --border-pop: #aba9a9;
  --border-active: #878a8c;

  --custom-box-shadow: 0 3px 12px rgba(16, 19, 21, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  transition: all 0.125s linear;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  /* min-height: 100%; */
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}

.icon-images {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

html[data-theme="light"] {
  --color-primary: #ffffff;
  --color-secondary: #e6f0f4;
  --color-contrast: #14343c;
  --border-empty: #d3d6da;
  --border-active: #878a8c;
  --cover-container-color: #f3f3f3;
}

html[data-theme="dark"] {
  --color-primary: #2b3036;
  --color-secondary: #373f47;
  --color-contrast: #e5e5e5;
  --border-empty: #878a8c;
  --border-active: #d3d6da;
  --cover-container-color: var(--color-secondary);
}

.filter-on {
  filter: invert(16%) sepia(37%) saturate(768%) hue-rotate(145deg)
    brightness(92%) contrast(93%);
  -webkit-filter: invert(16%) sepia(37%) saturate(768%) hue-rotate(145deg)
    brightness(92%) contrast(93%);
}

[data-theme="dark"] .filter-on {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

@media screen and (max-width: 30em) {
  .icon-images {
    width: 1.5rem;
    height: 1.5rem;
  }
}
